nav{
    height: 100px;
    background: none;
    position: relative;
}
.bar-btn{
    display: none;
}
.nav-links{
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
}

.nav-links li{
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
}
.nav-links li a{
    font-size: 1.6rem;
}
.description-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.description-container div{
    margin-right: 50px;
}
.description-container img{
    width: 60%;
    margin-bottom: 40px;
}